# MongoDB
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_DATABASE=iot_parking

# Mosquitto
# MQTT_DOMAIN=mqtt.yourdomain.com
# MQTT_PORT=8883
MQTT_DOMAIN=broker.mqttdashboard.com
MQTT_PORT=1883

# Platform + Frontend
JWT_SHARED_TOKEN=

# Frontend
PLATFORM_URL=http://localhost:5000

